.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
}

body {
    min-height: 50rem;
    padding-top: 4.5rem;
}

nav {
    padding: 10rem;
}

header {
    padding-bottom: 20rem;
}
