{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock %} {% block content %}

<h1>Hello!</h1>
<center>
  <img
    src="{{ url_for('static', filename='images/random-logo.png') }}"
    alt="logo"
    height="200px"
  />
</center>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique enim eius in at 
  officiis voluptates quod, impedit inventore maxime optio atque suscipit dignissimos 
  voluptate, consequatur ea ipsa tenetur perspiciatis temporibus!
</p>

{% endblock %}