{% extends "base.html" %}
{% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-sm table-borderless mb-3">
        <thead class="thead-dark">
            <tr>
                <th>Message</th>
                <th>Email</th>
            </tr>
        </thead>
        <hr>
        <tbody>
            {% for message, from_email in messages %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ message.body }}</td>
                <td> <a href="mailto:{{ from_email }}">{{ from_email }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

