{% extends "base.html" %}  {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock %}

{% block content %}
<table>
  <tr valign="top">
    <td>Welcome, {{ name }}!</td>
    <td><img src="{{ user.avatar(128) }}"></td>
  </tr>
</table>
<hr>
<div>
  <table class="table table-hover" style="width: 700px;">
      <thead class="thead-dark">
      <tr>
          <th scope="col">User</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Email</th>
          <th scope="col">Image</th>
      </tr>
      </thead>
      <tbody>
          {% for listings in listings %}
          <tr>
              <td><img src="{{ listings.author.avatar(36) }}"></td>
              <td>{{ listings.name }}</td>
              <td>{{ listings.date_posted.strftime('%m/%d/%Y') }}</td>
              <td>{{ listings.description }}</td>
              <td>{{ listings.location }}</td>
              <td>{{ listings.email }}</td>
              <td><img src="{{ listings.image_url}}"/></td>
                  <a href="#" class="btn btn-outline-primary" role="button">
                      Edit
                  </a>
              </td>
              <td>
                <a href="{{ url_for('main.delete_listing', listings_id=listings.id) }}" class="btn btn-outline-danger" role="button">
                    Delete
                </a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
