{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List an item{% endblock %}</h1>
{% endblock %}

{% block content %}
<body class="text-center">
  <form action="/create_listing" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    <label for="email">Contact Email</label>
    <input name="email" id="email" value="{{ request.form['email'] }}" required>


    <input type="submit" value="List" class="btn btn-info">
  </form>
</body>
{% endblock %}