{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %} {% block  content %}
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="/searchkeyword" method="post">
    <input type="search" name="search-keyword" class="form-control form-control-dark" placeholder="Search by keyword" aria-label="Search">
    <button class="btn btn-warning" type="submit">Search</button>
  </form>

  <header>
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="fw-bolder">Welcome to Go-Give</h1>
            <p class="lead fw-normal mb-0">'Slogan here'</p>
        </div>
    </div>
  </header>

  <section class="py-5">
    {% for listings in listings%}
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col sm-6">
            <div class="card">
              <img class="card-img-top" src="{{ listings.image_url}}" alt="...">
                <div class="card-body">
                  <div class="text-center">
                    <h3 class="fw-bolder">{{ listings.name }}</h3>
                    <h5>{{ listings.description }}</h5>
                    <h6>{{ listings.location }}</h6>
                    <h6>{{ listings.email }}</h6>
                    <h6>{{ listings.date_posted.strftime('%m/%d/%Y') }}</h6>
                     <a href="{{ url_for('main.profile_user', user_id=listings.user_id) }}"> <img src="{{ listings.author.avatar(36) }}"></a> 

                  </div>
                </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Message</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}