{% extends "base.html" %}  {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/profile.css') }}"
/>
{% endblock %} {% block content %}
  <div class="container px-4 px-lg-5 my-5">
      <h4>Welcome, {{ name }}!</h4>
      <img class="mb-4" src="{{ user.image_url }}" width="200" height="200">
  </div>
  <h2 class="text-center">Your listed items</h2>
  <br/>
  {% for listings in listings%}
    <div class="card mb-3">
        <div class="card-body">
          <div class="col-md-2">
            <img src="{{ listings.image_url}}"  alt="..." width="200" height="200">
          </div>
          <br/>
          <h4 class="card-title">{{ listings.name }}</h4>
          <p class="card-text">{{ listings.description }}</p>
          <p class="card-text">{{ listings.location }}</p>
          <p class="card-text"><small class="text-muted">{{ listings.date_posted.strftime('%m/%d/%Y') }} | {{ listings.email }}</small></p>
          <img class="mb-4" src="{{ listings.author.image_url }}" width="50" height="50"> 
          <div class="text-center">
            <a href="{{ url_for('main.update_listings', listings_id=listings.id) }}" class="btn btn-outline-primary" role="button">Edit</a>
            <a href="{{ url_for('main.delete_listing', listings_id=listings.id) }}" class="btn btn-outline-danger" role="button">Delete</a>
          </div>
        </div>
    </div>
  {% endfor %}
  {% for listings in likes %}
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col sm-6">
          <div class="card">
            <img class="card-img-top" src="{{ listings.image_url}}" alt="...">
              <div class="card-body">
                <div class="text-center">
                  <h3 class="fw-bolder">{{ listings.name }}</h3>
                  <h5>{{ listings.description }}</h5>
                  <h6>{{ listings.location }}</h6>
                  <h6>{{ listings.email }}</h6>
                  <img src="{{ listings.author.avatar(36) }}">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
